In [2]:
# Initial imports.
import sqlalchemy
import numpy as np
from pathlib import Path
from collections import Counter
import pandas as pd
from path import Path
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sqlalchemy import create_engine

In [3]:
# Loading data
file_path = Path("../ML_Preprocessing/final_table_ml_stage2.csv")
risk_df = pd.read_csv(file_path)
risk_df.head()

,business_postal_code,population,avg_income,inspection_id,inspection_date,inspection_score,violation_description,risk_category,Neighborhoods,Current Police Districts
0,94127,20624,95313,38798_20170928,09/28/2017 12:00:00 AM,94.0,Improper or defective plumbing,Low Risk,95.0,9.0
1,94127,20624,95313,5796_20170825,08/25/2017 12:00:00 AM,98.0,Improper food storage,Low Risk,63.0,10.0
2,94127,20624,95313,2808_20170621,06/21/2017 12:00:00 AM,81.0,Other low risk violation,Low Risk,67.0,10.0
3,94127,20624,95313,4630_20170304,03/04/2017 12:00:00 AM,96.0,Food safety certificate or food handler card n...,Low Risk,67.0,10.0
4,94127,20624,95313,2808_20190103,01/03/2019 12:00:00 AM,74.0,Unclean or degraded floors walls or ceilings,Low Risk,67.0,10.0

In [4]:
# Create our features
X = risk_df.drop(columns='risk_category')

# Create our target
y = risk_df['risk_category']
y.value_counts()

Low Risk         10129
Moderate Risk     7886
High Risk         2954
Name: risk_category, dtype: int64

In [5]:
X.describe()

,business_postal_code,population,avg_income,inspection_score,Neighborhoods,Current Police Districts
count,20969.000000,20969.000000,20969.000000,20969.000000,20969.000000,20969.000000
mean,94113.763270,36628.411751,55053.795317,85.335066,57.718251,5.303496
std,9.368833,22194.064691,26574.280130,8.094191,35.207225,2.717798
min,94101.000000,0.000000,0.000000,46.000000,1.000000,1.000000
25%,94107.000000,23016.000000,40990.000000,81.000000,31.000000,3.000000
50%,94110.000000,30574.000000,54342.000000,87.000000,53.000000,6.000000
75%,94121.000000,55492.000000,61609.000000,92.000000,97.000000,8.000000
max,94158.000000,74633.000000,163949.000000,100.000000,117.000000,10.000000

In [11]:
X

,business_postal_code,population,avg_income,inspection_id,inspection_date,inspection_score,violation_description,Neighborhoods,Current Police Districts
0,94127,20624,95313,38798_20170928,09/28/2017 12:00:00 AM,94.0,Improper or defective plumbing,95.0,9.0
1,94127,20624,95313,5796_20170825,08/25/2017 12:00:00 AM,98.0,Improper food storage,63.0,10.0
2,94127,20624,95313,2808_20170621,06/21/2017 12:00:00 AM,81.0,Other low risk violation,67.0,10.0
3,94127,20624,95313,4630_20170304,03/04/2017 12:00:00 AM,96.0,Food safety certificate or food handler card n...,67.0,10.0
4,94127,20624,95313,2808_20190103,01/03/2019 12:00:00 AM,74.0,Unclean or degraded floors walls or ceilings,67.0,10.0
...,...,...,...,...,...,...,...,...,...
20964,94101,0,0,65856_20190117,01/17/2019 12:00:00 AM,86.0,Wiping cloths not clean or properly stored or ...,32.0,5.0
20965,94101,0,0,65856_20190828,08/28/2019 12:00:00 AM,84.0,Inadequate food safety knowledge or lack of ce...,32.0,5.0
20966,94101,0,0,65856_20170821,08/21/2017 12:00:00 AM,73.0,High risk food holding temperature,32.0,5.0
20967,94101,0,0,65856_20170821,08/21/2017 12:00:00 AM,73.0,Improper storage use or identification of toxi...,32.0,5.0
20968,94101,0,0,65856_20170821,08/21/2017 12:00:00 AM,73.0,Inadequate warewashing facilities or equipment,32.0,5.0

In [6]:
months_num = {
   "January": 1,
   "February": 2,
   "March": 3,
   "April": 4,
   "May": 5,
   "June": 6,
   "July": 7,
   "August": 8,
   "September": 9,
   "October": 10,
   "November": 11,
   "December": 12,
}

In [7]:
X["months_num"] = X["inspection_date"].apply(lambda x: months_num[x])

KeyError: '09/28/2017 12:00:00 AM'

In [8]:
months_num["June"]

6

In [9]:
X

,business_postal_code,population,avg_income,inspection_id,inspection_date,inspection_score,violation_description,Neighborhoods,Current Police Districts
0,94127,20624,95313,38798_20170928,09/28/2017 12:00:00 AM,94.0,Improper or defective plumbing,95.0,9.0
1,94127,20624,95313,5796_20170825,08/25/2017 12:00:00 AM,98.0,Improper food storage,63.0,10.0
2,94127,20624,95313,2808_20170621,06/21/2017 12:00:00 AM,81.0,Other low risk violation,67.0,10.0
3,94127,20624,95313,4630_20170304,03/04/2017 12:00:00 AM,96.0,Food safety certificate or food handler card n...,67.0,10.0
4,94127,20624,95313,2808_20190103,01/03/2019 12:00:00 AM,74.0,Unclean or degraded floors walls or ceilings,67.0,10.0
...,...,...,...,...,...,...,...,...,...
20964,94101,0,0,65856_20190117,01/17/2019 12:00:00 AM,86.0,Wiping cloths not clean or properly stored or ...,32.0,5.0
20965,94101,0,0,65856_20190828,08/28/2019 12:00:00 AM,84.0,Inadequate food safety knowledge or lack of ce...,32.0,5.0
20966,94101,0,0,65856_20170821,08/21/2017 12:00:00 AM,73.0,High risk food holding temperature,32.0,5.0
20967,94101,0,0,65856_20170821,08/21/2017 12:00:00 AM,73.0,Improper storage use or identification of toxi...,32.0,5.0
20968,94101,0,0,65856_20170821,08/21/2017 12:00:00 AM,73.0,Inadequate warewashing facilities or equipment,32.0,5.0

In [9]:
X = X.drop(columns='inspection_date')
X.head()

,business_postal_code_1,inspection_id,inspection_score,violation_description,neighborhoods,Current Police Districts,population,avg_income,months_num
0,94133,835_20180917,88,Improper food storage,107,6,"26,827","$40,990.00",9
1,94108,905_20190415,87,High risk vermin infestation,19,6,"13,716","$31,542.00",4
2,94118,1203_20170803,77,Moderate risk food holding temperature,5,8,"38,939","$61,609.00",8
3,94109,1345_20170928,81,Improper cooling methods,105,4,"56,322","$43,444.00",9
4,94114,1352_20180620,74,Non service animal,38,3,"30,574","$75,727.00",6

In [10]:
X_encoded = pd.get_dummies(X)
X_encoded

,business_postal_code_1,inspection_score,neighborhoods,Current Police Districts,months_num,inspection_id_1000_20171002,inspection_id_1000_20180523,inspection_id_1000_20190617,inspection_id_1002_20170928,inspection_id_1002_20180509,...,"avg_income_$61,609.00","avg_income_$61,776.00","avg_income_$63,983.00","avg_income_$66,627.00","avg_income_$75,727.00","avg_income_$76,044.00","avg_income_$80,959.00","avg_income_$84,710.00","avg_income_$88,976.00","avg_income_$95,313.00"
0,94133,88,107,6,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,94108,87,19,6,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,94118,77,5,8,8,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,94109,81,105,4,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,94114,74,38,3,6,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20239,94118,94,5,8,10,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20240,94112,90,90,9,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20241,94103,96,53,3,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20242,94103,93,32,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20243,94102,84,21,4,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
data_scaler = StandardScaler()

In [12]:
X_encoded_scaled = data_scaler.fit_transform(X_encoded)
X_encoded_scaled[:1]

array([[ 2.02549393,  0.3273685 ,  1.42048832, ..., -0.1686698 ,
        -0.18869199, -0.10262856]])

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded_scaled, y, random_state = 1)

In [14]:
y_train.value_counts()

Low Risk         7323
Moderate Risk    5724
High Risk        2136
Name: risk_category, dtype: int64

In [22]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [24]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [25]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [26]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1", "Actual 2"], columns=["Predicted 0", "Predicted 1", "Actual 2"])

cm_df

          Predicted 0  Predicted 1  Actual 2
Actual 0          687            1         1
Actual 1            0         2497         0
Actual 2            0            4      1871

In [27]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [28]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1  Actual 2
Actual 0          687            1         1
Actual 1            0         2497         0
Actual 2            0            4      1871

Accuracy Score : 0.998814463544754
Classification Report
               precision    recall  f1-score   support

    High Risk       1.00      1.00      1.00       689
     Low Risk       1.00      1.00      1.00      2497
Moderate Risk       1.00      1.00      1.00      1875

     accuracy                           1.00      5061
    macro avg       1.00      1.00      1.00      5061
 weighted avg       1.00      1.00      1.00      5061

In [ ]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

In [ ]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X_encoded.columns), reverse=True)